.container {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input {
    padding: 5px 0;
}

h1 {
    text-align: center;
}

.foto, .data {
    justify-content: center;
    align-items: center;
    flex: 1;
}

.foto img {
    border: 10px solid #6b6a6a;
    border-radius: 50%;
}

/* .foto {
    text-align: center;
} */
.data {
    text-align: left;
}

.isidata{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: auto;
}

.isidata input {
    float: left;
}

.isidata a {
    text-align: center;
    width: 35%;
}

.isidata button {
    text-align: center;
    width: 40%;
    border: 0;
}

.isidata img {
    border-radius: 50%;
}

.kembali {
    padding: 10px;
    border-radius: 3px;
    background-color: #808080;
    color : #ffffff;
}

.kembali:hover {
    padding: 10px;
    border-radius: 3px;
    background-color: #5e5d5d;
    color : #ffffff;
}

.tekan {
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(4, 207, 82);
    color : #ffffff;
}

.tekan:hover {
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(0, 177, 94);
    color : #ffffff;
}

.volume {
    height: 20px;
}